@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

/* index */
section{
	background-color:rgba(118,203,243,.5);
}
div#dind{
	background: url("../_imagens/ceu_azul.jpg");
}

h1#bv{
	font-size: 50px;
	font-weight: bold;
	font-family: 'Pacifico', cursive;
	margin-top: 350px;
	text-align: center;
}

p#tex{
	font-family:"Times New Roman", Times, serif;
	text-align:center;
	font-style: italic;
}

nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
	text-align:center;
}

nav#menu li{
    display: inline-block;
    background-color: none;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
	font-family: 'Slabo 27px', serif;
}

nav#menu li#c{
	margin-left: -45px;
}

nav#menu li#v{
	margin-left: 90px;
}

nav#menu li:hover{
    background-color: blue;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color: #ffffff;
}

/* compra */
table#tabela{
	background: #ffffff;
	border: solid;
	border-color: rgba(0,0,0,.5)
}

table th{
	background:#dddddd;
}

table td{
	font-family:"Times New Roman", Times, serif;
	font-style: italic;
}

section#fot{
	background: url("../_imagens/ceu_azul.jpg");
}

/* venda */
form{
    width: 500px;
    margin: auto;
}

input, textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.8);
}

input:hover, textarea:hover{
    background-color: #dddddd;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Pacifico', cursive;
	text-align:center;
}

fieldset{
    border-color: #cecece;
    margin: 20px;
}

/* footer */
footer{
	background:rgba(118,203,243,.5);
	padding:5px;
}

footer a{
    color: #000000;
    text-decoration: none;
}

footer a:hover{
    color: #ffffff;
}